params {
    samplesheet = false
    db = false
    outdir = false
    container = "quay.io/sangerpathogens/kneaddata:0.12.0"
    sequencer_source = "NexteraPE"
    decontaminate_pairs = "strict"
    kneaddata_params = ""
    cpus = 4
    memory = "16.GB"
}

process {
    cpus = params.cpus
    memory = params.memory
}
